@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



body {
    background-color: #07051a;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#mainTitle {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 6px;
}
#animeTitle {
    position: absolute;
    top: 30%;
    left: 21%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    letter-spacing: 6px; 

}
#inputBox {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
#animeCover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    padding: 5px right;
    border-radius: 5px;
}
.card {
    text-align: center;
    background: #000000d0;
    padding: 1em;
    border-radius: 20px;
    margin: 1em;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 350px;
    width: 250px;

}
.card1 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);

}
#footer {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    font-size: 19px;
}
#animeInfo {
    color: black;
}
.modal-title {
    color: black !important;
}
#infoButton {
    position: absolute;
    top: 55%;
    left: 33.5%;
    transform: translate(-50%, -50%);
}
#malLink {
    color: black;
}
#betaWarning {
    width: 700px;    
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#showGroup {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 35%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}
#showGroupTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: grey;
    position: absolute;
    top: 35%;
    left: 31%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    letter-spacing: 5px;
}
#ageRatingTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: grey;
    position: absolute;
    top: 40%;
    left: 31.6%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    letter-spacing: 5px;
}
#ageRating {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 40%;
    left: 36%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}
#airingStatusTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: grey;
    position: absolute;
    top: 45%;
    left: 31.5%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    letter-spacing: 5px;
}
#airingStatus {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 45%;
    left: 36%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}
#showEpisodesTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: grey;
    position: absolute;
    top: 50%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    letter-spacing: 5px;
}
#showEpisodes {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 37.3%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    letter-spacing: 5px;
}
#leftButton {
    position: absolute;
    top: 78%;
    left: 15.5%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
#rightButton {
    position: absolute;
    top: 78%;
    left: 26%;
    transform: translate(-50%, -50%);
    visibility: hidden;

}
#siteVersion {
    color: grey;
    position: absolute;
    top: 2%;
    left: 97%;
    transform: translate(-50%, -50%);
    font-size: 10px;
}



.snow-container {
    position: absolute;
    height: 1000px;
    width: 100%;
    max-width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
  }
  
  /* Snow for christmas */
  

/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}